
.chatPage{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  .wrapper{
    flex:1;
    overflow: scroll;
    width: 100%;
    display: flex;
    justify-content: center;

    .chat{
      width: 70%;
      display: flex;
      flex-direction: column;
      gap: 20px;

      p,li{
        margin: 10px 0px;
      }

      .message{
        padding: 20px;
        font-weight: 300;
        
        

        &.user{
          background-color: #2c2937;
          border-radius: 20px 5px 20px 20px;
          
          align-self:flex-end;
        }
      }
    }
  }
}
