@import "tailwindcss";



html.light {
    --primary-bg-color:#ffffff;
    --secondary-bg-color:#f9f9f9;
    --ternary-bg-color:#ececec;
    --primary-text-color:#0d0d0d;
    --secondary-text-color:#8f8f8f;
    --ternary-text-color:#181818;

    
}

html.dark {
    --primary-bg-color:#212121;
    --secondary-bg-color:#181818;
    --ternary-bg-color:#303030;
    --primary-text-color: white;
    --secondary-text-color:#959292;
    --ternary-text-color:#181818;
}

body{
   
    background-color: var(--primary-bg-color);
}

::-webkit-scrollbar{
    display: none;
}




