.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    height: 100%;

    .left{
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 24px;
        text-align: center;
        color: rgb(255, 255, 255);

        h1{
            font-size: 85px;
            background: linear-gradient(to right, #5367ef,rgb(235, 132, 215));
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
        }
        h2{
            font-size: 28px;
            font-weight: 400;
        }
        h3{
            font-size: 20px;
            font-weight: 300;
        }
        button{
            font-size: 25px;
            padding: 10px 20px;
            border-radius: 50px;
            background-color: #4c51e3;
            border-style: none;
            color: white;
            font-weight: 400;
        }
        button:hover{
            background-color: #5062d8;
        }
    }
    .right{
        flex: 2;
        img{
            width: 550px; 
        }
    }
}