/* for layout page */

.layout{
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 15px 50px;

    .header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;
        
    

        .logo{
            cursor: pointer;
            font-size: 24px;

            .chat{
                color: rgb(175, 237, 216);
                
            }
            .ai{
                color: rgb(173, 196, 227);
               
                font-weight: 500;
            }
        }
        .btn{
            padding: 8px 14px;
            background-color:#3d3f42;
            border-style: none;
            border-radius: 20px;
            color: white;
            font-size: 16px;
        }
        .btn:hover{
            background-color: #574c4c;
        }
    }
    .main{
        flex: 1;
        overflow: hidden;
    }
}

/* for Dashboard layout  */
.dashboardLayout {
  display: flex;
  gap: 30px;
  padding-top: 20px;
  height: 100%;
  
  .menu {
      flex: 2;
      
    }
    
    .content {
        display: flex;
        flex: 9;
        background-color: #12101b;
        border-radius: 40px;
        padding: 0px 50px;
        
    
  }
}

.loading{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

